<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 shadow vh-100 d-block">
        <div class="profile-pic text-center">
          <img src="https://thumbs.dreamstime.com/b/businessman-icon-image-male-avatar-profile-vector-glasses-beard-hairstyle-179728610.jpg" alt="" class="img-fluid" style="height: 100px;">
        </div>
        <br>
        <div class="prifile-contents s-5">
          <ul class="list">
            <li class="list-group-item active"><a href="#">Profile</a></li>
            <li class="list-group-item"><a href="#">Settings</a></li>
            <li class="list-group-item"><a href="#">Logout</a></li>
          </ul>
        </div>

      </div>

      <div class="col-9 vh-100" id="main">
        <div class="mt-4">
          <p>Name: <span class="">{{name}}</span></p>
          <p>Email: <span>{{email}}</span></p>
          <p>Password: <span>{{password}}</span></p>
        </div>

      </div>
    </div>
  </div>
</body>
